<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestCms1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestCms1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestCms1.Properties.Settings>
            <setting name="AsyncFMax" serializeAs="String">
                <value>3200</value>
            </setting>
        </TestCms1.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TestCms1.Properties.Settings>
            <setting name="AsyncLine" serializeAs="String">
                <value>3200</value>
            </setting>
            <setting name="FFTCutOffFrequency" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DBServerIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DBAccount" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>nada1234</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>TestCms</value>
            </setting>
            <setting name="EnableDBMode" serializeAs="String">
                <value>True</value>
            </setting>
        </TestCms1.Properties.Settings>
    </userSettings>
</configuration>